{
	"env": {
		"mocha": true,
		"node": true
	},
	"ecmaFeatures": {
		"generators": true
	},
	"rules": {
		"camelcase": 2,
		"complexity": [2, 12],
		"consistent-return": 2,
		"curly": [2, "all"],
		"dot-notation": 2,
		"eol-last": 2,
		"eqeqeq": [2, "smart"],
		"indent": [2, "tab", {"SwitchCase": 1}],
		"max-depth": [2, 4],
		"max-len": [0, 80, 4],
		"max-nested-callbacks": [2, 5],
		"max-params": [2, 8],
		"max-statements": [2, 30],
		"new-cap": [2],
		"new-parens": 2,
		"no-alert": 2,
		"no-array-constructor": 2,
		"no-caller": 2,
		"no-catch-shadow": 2,
		"no-cond-assign": 2,
		"no-console": 2,
		"no-constant-condition": 2,
		"no-control-regex": 2,
		"no-debugger": 1,
		"no-delete-var": 2,
		"no-dupe-keys": 2,
		"no-empty": 2,
		"no-empty-character-class": 2,
		"no-empty-label": 2,
		"no-ex-assign": 2,
		"no-extend-native": 2,
		"no-extra-boolean-cast": 2,
		"no-extra-parens": [2, "functions"],
		"no-extra-semi": 2,
		"no-fallthrough": 2,
		"no-func-assign": 2,
		"no-implied-eval": 2,
		"no-invalid-regexp": 2,
		"no-iterator": 2,
		"no-label-var": 2,
		"no-labels": 2,
		"no-lone-blocks": 2,
		"no-lonely-if": 2,
		"no-loop-func": 2,
		"no-mixed-spaces-and-tabs": [2, true],
		"no-multi-str": 2,
		"no-multiple-empty-lines": [2, {"max": 1}],
		"no-native-reassign": 2,
		"no-negated-in-lhs": 2,
		"no-nested-ternary": 2,
		"no-new": 2,
		"no-new-func": 2,
		"no-new-object": 2,
		"no-new-require": 2,
		"no-new-wrappers": 2,
		"no-obj-calls": 2,
		"no-octal": 2,
		"no-octal-escape": 2,
		"no-path-concat": 2,
		"no-process-exit": 1,
		"no-proto": 2,
		"no-redeclare": 2,
		"no-regex-spaces": 2,
		"no-return-assign": 2,
		"no-script-url": 2,
		"no-sequences": 2,
		"no-shadow": 2,
		"no-shadow-restricted-names": 2,
		"semi-spacing": [2, {"before": false, "after": true}],
		"no-spaced-func": 2,
		"no-sparse-arrays": 2,
		"no-sync": 2,
		"no-ternary": 0,
		"no-trailing-spaces": 2,
		"no-undef": 2,
		"no-undef-init": 2,
		"no-underscore-dangle": 0,
		"no-unreachable": 2,
		"no-unused-vars": [2, {"args": "none", "vars": "local"}],
		"no-use-before-define": [2, "nofunc"],
		"no-warning-comments": [2, { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
		"no-with": 2,
		"quotes": [2, "single"],
		"semi": 2,
		"strict": [2, "global"],
		"use-isnan": 2,
		"valid-jsdoc": [2, { "prefer": { "return": "returns" }, "requireReturn": false }],
		"valid-typeof": 2,
		"wrap-iife": [2, "any"],
		"yoda": [2, "never", { "exceptRange": true }]
	}
}
