{
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 6
	},
	"env": {
		"es6": true,
		"node": true,
		"mocha": true
	},
	"rules": {
		"no-unused-vars": [
			"error",
			{
				"vars": "all",
				"args": "none"
			}
		]
	}
}
